footer {
    padding-top: .5rem;
    color: $second-text-color;
    span {
        text-transform: $capital-letters;
    }
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0; 
}

.copyright {
    text-align: center;
    font-size: .9rem;
    margin: $footer-center-placer;
    width: 300px;
    @include desktop {
        text-align: left;
        margin: 0 0 0 2rem;
    }
}

.footer-photos {
    position: relative;
}