footer {
    padding-top: 1rem;
    color: $second-text-color;
    span {
        text-transform: $capital-letters;
    }
    height: 10vh;
}

.copyright {
    text-align: center;
    font-size: .9rem;
}