* {
    box-sizing: border-box;
}


body {
    color: $main-text-color;
    font-size: $main-font-size;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: $main-font-weight;
    font-style: $main-font-style;
    background: $background-color;
}

.content-wrapper {
    height: auto;
    @include tablet {
        min-width: $tablet-width;
    }
    @include desktop{
        min-width: $desktop-width;
    }
}