// Colors
$main-text-color: #ffffff;
$background-color: #000;
$second-text-color: #c2c2c2;

//Text Style

$main-font-size: 16px;
$main-font-weight: 300;
$main-font-style: normal;
$capital-letters: uppercase;