// Colors
$main-text-color: #ffffff;
$background-color: #000000;
$transparent-background-color: rgba(0, 0, 0, 0.7);
$second-text-color: darken($main-text-color, 23.92);

//Text Style

$main-font-size: 16px;
$main-font-weight: 300;
$main-font-style: normal;
$capital-letters: uppercase;

// Screen Sizes

$tablet-width: 600px;
$desktop-width: 1000px;

// Boxing

$header-initial-center-placer: 0 auto 1rem auto;
$header-photos-center-placer: 2rem auto 1rem auto;
$header-initial-width: 300px;
$header-photos-width: 130px;
$footer-center-placer: 0 auto;